img{
    height: 10vw;
    width: 10vw;
    padding-top: 3%;
}
body{
    background: linear-gradient(110deg, #3bfd92 60%, #a34ca0 60%);
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
}